# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/public/*
!/public/emperors/
!/public/emperors/thumbs/
!/public/emperors/thumbs/*
!/public/icons/
!/public/icons/*
!/public/world-110m.geojson
!/public/static/
!/public/static/*
!/public/page-data/
!/public/page-data/*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

python/edward-gibbon-emperors.txt
python/geonames_cache/
