@font-face {
    font-family: "Constantine";
    src: url("../fonts/Constantine.ttf");
}

#Header {
    font-size: 1.6em;
    text-align: center;
}
#Heading {
    font-family: 'Constantine';
    font-size: 2.5em;
    font-weight: 600;
}

.svg-container {
    position: relative;
    width: 90%;
    height: auto;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
}

.svg-content-responsive {
    position: absolute;
    top: 10px;
    left: 0;
}

  
svg .rect {
    fill: gold;
    stroke: steelblue;
    stroke-width: 5px;
}

.tick > line{
    opacity: 0.3;
    stroke-dasharray: 5, 5; 
}

svg text.label {
    fill:white;
    font: 15px;  
    font-weight: 400;
    text-anchor: middle;
}
