.svg-container {
    position: relative;
    width: 90%;
    height: auto;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
}

.svg-content-responsive {
    position: absolute;
    top: 10px;
    left: 0;
}

  
svg .rect {
    fill: gold;
    stroke: steelblue;
    stroke-width: 5px;
}
