@font-face {
    font-family: "Constantine";
    src: url("../fonts/Constantine.ttf");
}

html, body, #app, #root {
    font-family: 'promixa-nova', sans-serif;
    height: 100%;
    margin: 0;
}

body {
    background-color: #f5f5f5;
}

#content {
    padding-right: 0.75em;
    padding-left: 0.75em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    margin-top: 2em;
}

.Header {
    font-size: 1.3em;
    text-align: center;
}
.Heading {
    font-family: 'Constantine';
    font-size: 2em;
    font-weight: 600;
}

.tick > line{
    opacity: 0.3;
    stroke-dasharray: 5, 5; 
}

svg text.label {
    fill:white;
    font: 15px;  
    font-weight: 400;
    text-anchor: middle;
}

.text-align-centre {
    text-align: center;
}

#footer {
    margin-top: 3em;
    font-size: 0.85em;
    color: #999;
    text-decoration: none;
    bottom: 0;
}

#footer a, p a{
    color: #2196f3
}

#footer a:visited, p a:visited{
    color: #2196f3
}
